<div class="form-container-outer-img">
	<div class="form-container-inner-img">

		<%= form_for @image_post, url: create_image_path(:user_id => current_user.id), html: { multipart: true } do |form| %>
		<div class = "field">
			<%= form.label :img %>
			<br>
			<%= form.file_field :img%>
		</div>
		<br>
		<div class = "field">
			<%= form.label :description%>
			<br>
			<%= form.text_area :description, class: "width-100"%>
		</div>
		<div id="field">
		<%= form.submit "Upload image", :id => "upload-img"%>
		</div>
		<% end %>

	</div>
</div>
